* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 50%;
}

body {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    border: 0.3rem solid black;
    display: flex;
}

.box {
    width: 10rem;
    height: 10rem;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: orange;
}

.box3 {
    background-color: purple;
}

.box4 {
    background-color: yellow;
}

.box5 {
    background-color: green;
}

.box6 {
    background-color: blue;
}